
h1 {
	margin: 50px auto 0px auto;
	font-family: 'Great Vibes', cursive;
	color:#66BFBF;
	font-size: 5.65rem;

}

h2{
	font-family: 'Montserrat', sans-serif;
	color:#66BFBF;
	font-size: 2.5rem;
	font-weight: normal;

}

.title-2{
	margin-top: 2.5rem;
}

.skill-row{
	width: 50%;
	margin:100px auto 100px auto;
	text-align: left;
}

h3{
	font-family: 'Merriweather', sans-serif;
	color:#11999E;
}

hr{
border-style: none;
border-top-style: dotted;
border-color: lightgrey;
border-width: 5px;
width: 5%;
}

.contact-me-text{
height: 100px;
}
p{
font-family: 'Montserrat', sans-serif;
line-height: 2;
}

body{
	margin: 0px;
	text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
	background-color: #EAF6F6;
	padding-top: 100px;
	position:relative;
}

a{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	margin: 10px 20px 10px 20px;
}

a:hover{
	color: #eaf6f6;
}

.middle-container {


}

.contact-me{
	line-height: 4;
}

.bottom-container {
	width: 100%;
	background-color: #66BFBF;
	padding: 50px 0 20px;

}

.top-cloud {
	position: absolute;
	top: 50px;
	right: 300px;
}

.bottom-cloud {
	position: absolute;
	left: 300px;
}
.computer1-img{
	width:25%;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
}

.computer2-img{
	width:25%;
	border-radius: 50%;
	float: right;
	margin-left: 30px;
}

.btn {
  background: #34ced9;
  background-image: -webkit-linear-gradient(top, #34ced9, #2bafb8);
  background-image: -moz-linear-gradient(top, #34ced9, #2bafb8);
  background-image: -ms-linear-gradient(top, #34ced9, #2bafb8);
  background-image: -o-linear-gradient(top, #34ced9, #2bafb8);
  background-image: linear-gradient(to bottom, #34ced9, #2bafb8);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
